In [24]:
import numpy as np
import pandas as pd

In [25]:
input_list=([0,2,4,6,8,10,12,14,16])

def calculate(input_list):
    if len(input_list) != 9:
        raise ValueError("List must contain nine numbers.")

    # Convert the input list into a 3x3 Numpy array
    matrix = np.array(input_list).reshape(3, 3)

    calculations = {
        'mean': [matrix.mean(axis=0).tolist(), matrix.mean(axis=1).tolist(), matrix.mean().tolist()],
        'variance': [matrix.var(axis=0).tolist(), matrix.var(axis=1).tolist(), matrix.var().tolist()],
        'standard deviation': [matrix.std(axis=0).tolist(), matrix.std(axis=1).tolist(), matrix.std().tolist()],
        'max': [matrix.max(axis=0).tolist(), matrix.max(axis=1).tolist(), matrix.max().tolist()],
        'min': [matrix.min(axis=0).tolist(), matrix.min(axis=1).tolist(), matrix.min().tolist()],
        'sum': [matrix.sum(axis=0).tolist(), matrix.sum(axis=1).tolist(), matrix.sum().tolist()]
    }

    return calculations

In [26]:
result = calculate([0,2,4,6,8,10,12,14,16])
print(result)

{'mean': [[6.0, 8.0, 10.0], [2.0, 8.0, 14.0], 8.0], 'variance': [[24.0, 24.0, 24.0], [2.6666666666666665, 2.6666666666666665, 2.6666666666666665], 26.666666666666668], 'standard deviation': [[4.898979485566356, 4.898979485566356, 4.898979485566356], [1.632993161855452, 1.632993161855452, 1.632993161855452], 5.163977794943222], 'max': [[12, 14, 16], [4, 10, 16], 16], 'min': [[0, 2, 4], [0, 6, 12], 0], 'sum': [[18, 24, 30], [6, 24, 42], 72]}

In [27]:
df= pd.DataFrame(result)
df

,mean,variance,standard deviation,max,min,sum
0,"[6.0, 8.0, 10.0]","[24.0, 24.0, 24.0]","[4.898979485566356, 4.898979485566356, 4.89897...","[12, 14, 16]","[0, 2, 4]","[18, 24, 30]"
1,"[2.0, 8.0, 14.0]","[2.6666666666666665, 2.6666666666666665, 2.666...","[1.632993161855452, 1.632993161855452, 1.63299...","[4, 10, 16]","[0, 6, 12]","[6, 24, 42]"
2,8.00,26.67,5.16,16,0,72

In [28]:
df.transpose()

,0,1,2
mean,"[6.0, 8.0, 10.0]","[2.0, 8.0, 14.0]",8.00
variance,"[24.0, 24.0, 24.0]","[2.6666666666666665, 2.6666666666666665, 2.666...",26.67
standard deviation,"[4.898979485566356, 4.898979485566356, 4.89897...","[1.632993161855452, 1.632993161855452, 1.63299...",5.16
max,"[12, 14, 16]","[4, 10, 16]",16
min,"[0, 2, 4]","[0, 6, 12]",0
sum,"[18, 24, 30]","[6, 24, 42]",72